.us { background: transparent url('sprite-v/us.png') no-repeat left 5px; }
.eu { background: transparent url('sprite-v/europeanunion.png') no-repeat left; }
.fam { background: url('sprite-v/fam.png'); }
